@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url("https://fonts.cdnfonts.com/css/bartonis");
@import url("https://fonts.cdnfonts.com/css/nimbu-roman");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-bartonis-two: "Bartonis Two Demo", system-ui, sans-serif;
  --font-nimbu: "Nimbu Roman", system-ui, sans-serif;
  --font-neuton: "Neuton", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Neuton", serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: "Neuton", serif;
  background: #ffffff;
  color: #111827;
}

.section-title {
  font-family: var(--font-nimbu);
  font-weight: 700;
  letter-spacing: -0.5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

